@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #1DC460;
    font-family: 'Inter', sans-serif;
}

/* Header */

.header_container {
    margin: 0 360px;
    padding-top: 48px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 190px;
    height: 50px;
}

.menu {
    display: flex;
    list-style: none;
    column-gap: 50px;
}

.nav-link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.profile-link {
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

.avatar-mini {
    width: 50px;
    height: 50px;
}

/* Main */

.main_container {
    margin: 0 360px;
}

/* form Article */

.form_block {
    padding: 30px 40px;
    width: 400px;
    background-color: #1CAA54;
    border-radius: 10px;
}

input {
    font-size: 16px;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid white;
}

textarea {
    font-size: 16px;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: 2px solid white;
}

.btn {
    margin-top: 30px;
    height: 45px;
    width: 100%;
    border-radius: 5px;
}

/* Articles */

.a-detail {
    display: inline-block;
    transition: transform 0.3s ease;
}

.a-detail:hover {
    transform: scale(1.2);
    text-decoration: none;
}

.card {
    padding: 5px 20px;
    margin: auto;
    height: 150px;
    width: 550px;
    border-radius: 10px;
    background-color: #1CAA54;
}

.card span {
    font-size: 30px;
}







/* Login */

.form_login_block {
    position: relative;
    margin: 0 auto;
    height: 349px;
    width: 730px;
    border-radius: 20px;
    background-color: #D9D9D9;
}

.lb {
    margin-top: 45px;
}

.form_login {
    position: absolute;
    margin: 31px 105px;
}

.form_login div {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.form_login input {
    height: 50px;
    width: 520px;
    border-radius: 5px;
    border: solid 1px #000;
}

.login_input_1 {
    margin-top: 38px;
}

.login_input_2 {
    margin-top: 19px;
}

.form_login button {
    margin-top: 44px;
    height: 50px;
    width: 520px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 10px;
    border: none;
    background-color: #368C18;
}









/* Profile */

.profile_block {
    position: relative;
    margin: 0 auto;
    height: 890px;
    width: 730px;
    border-radius: 20px;
    background-color: #D9D9D9;
}

.pb {
    margin-top: 45px;
}

.block_info {
    position: absolute;
    margin: 50px 74px;
}

.main__info {
    display: flex;
}

.avatar {
    height: 270px;
    width: 270px;
    border-radius: 20px;
}

.name {
    margin-left: 48px;
}

.name span {
    font-size: 40px;
    font-weight: 700;
}

.all__info {
}

p {
    margin-top: 12px;
    font-size: 20px;
}

.accounts_block__btn {
    margin-top: 30px;
    padding: 11px 173px;
    font-size: 45px;
    font-weight: 500;
    color: #000;
    background-color: #58E236;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #000;
}

.account_card {
    position: relative;
    margin-top: 18px;
    height: 104px;
    width: 375px;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    background-color: #58E236;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #000;
}

.account_card__container {
    position: absolute;
    margin-left: 24px;
}

.account_card a {
    margin-top: 19px;
}