<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GreenWay</title>
    <link href="static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
    <div class="wrapper">
        <header th:insert="blocks/header :: header" class="header"></header>
        <main>
            <a href="/blog/create-article">Создать запись</a>
            <a href="/blog/articles">Новости</a>
        </main>
    </div>
</body>
</html>