<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GreenWay</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}" type="text/css"/>
</head>
<body>
    <div class="wrapper">
        <header th:insert="blocks/header :: header" class="header"></header>
        <main>
            <a href="/blog/create-article">Создать запись</a>
            <a href="/blog/articles">Новости</a>
        </main>
        <a th:href="@{/bank/open-account}">Открыть счёт</a><br>
        <a href="/profile">Профиль</a><br>
        <a href="/login">Войти</a><br>
        <a href="/bank/execute-transaction">Перевод</a>
    </div>
</body>
</html>