<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}" type="text/css"/>
</head>
<body>
    <div th:if="${param.error}">
        Some strange errors!
    </div>
    <div class="wrapper">
        <header th:insert="blocks/header :: header" class="header"></header>
        <main>
            <div class="form_register_block rb">
                <form th:action="@{/registration}" class="form_auth" method="post">
                    <div>Регистрация в GreenWay банк</div>

                    <input class="auth_input_1" type="text" name="firstname" placeholder="Имя"/>
                    <input class="auth_input" type="text" name="lastname" placeholder="Фамилия"/>
                    <input class="auth_input" type="text" name="email" placeholder="Почта"/>
                    <input class="auth_input" type="number" name="age" placeholder="Возраст"/>
                    <input class="auth_input" type="password" name="password" placeholder="Пароль"/>

                    <button type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </main>
    </div>
</body>
</html>