<div th:fragment="header" class="header_container">
    <div class="header_nav">
        <a href="/home" class="logo-link"><img class="logo" th:src="@{/images/logo.svg}"></a>
        <nav class="nav">
            <ul class="menu">
              <li><a href="#" class="nav-link">Частным лицам</a></li>
              <li><a href="#" class="nav-link">Бизнесу</a></li>
              <li><a href="#" class="nav-link">Ещё</a></li>
            </ul>
        </nav>
        <div class="profile_block_mini">
            <a href="#" class="profile-link">username</a>
            <a href="#" class="profile-link">
                <img th:src="@{/images/default-avatar-mini.svg}" class="avatar-mini">
            </a>
        </div>
    </div>
</div>